body {
    margin: 0;
    background-color: rgb(17, 123, 243);
}


h1{font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4vw;
    color: black;

}
h2{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5vw;

}
h3{font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vw;
    color: #03037a;


}
h4{font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5vw;
    color: white;
    background-color: black;

}
h5{font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vw;
    color: white;}

h6{font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2vw;
        color: white;
    
    }
header {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitle {
display: flex;
align-items: center;
justify-content: center;
}

.card {
    border: 3px; 
    border-color: black;
    height: auto;
width: 100%;
}

.jumbotron {
    background-image: url("./images/background-copy.jpg");
    background-size: cover;
  }

  .result_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    
  }

  input{
    height: 3.5vw;
    margin-right: 4vw;
  }
  
  
  
  
  
  
